{
  "root": true,
  "extends": [
    "standard",
    "plugin:vue/recommended"
  ],
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "plugins": [
      "import"
  ],
  "rules": {
    "vue/no-v-html": "off"
  },
  "globals": {
    "Coral": true,
    "FB": true,
    "FormData": true,
    "expect": true,
    "gapi": true,
    "gtag": true,
    "location": true,
    "source": true
  },
  "env": {
    "es6": true,
    "mocha": true,
    "node": true
  }
}